<head>
  <title>FocusField</title>
  <%= render partial: "layouts/head_elements" %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="section">
    <div class="container">
      <div class="media">
        <div class="media-left">
          <%= image_tag card_card_images_path(@resource.id_hex), class: "image is-48x48" %>
        </div>
        <div class="media-content">
          <%= form_with model: @resource, url: card_path(@resource.id_hex) do |f| %>
            <div class="field">
              <div class="control">
                <%= f.text_field :name, class: "input" %>
              </div>
            </div>
            <div class="content is-small">
              created at <%= @resource.created_at %>
            </div>
            <div class="field">
              <div class="control">
                <%= f.submit "update", class: "button is-link" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
