<head>
  <title>FocusField</title>
  <%= render partial: "layouts/head_elements" %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="section">
    <div class="container">
      <div class="box">
        <div class="content is-small">
          <%= @resource.id_hex %>
        </div>
        <%= form_with model: @resource, url: card_path(@resource.id_hex) do |f| %>
          <div class="field">
            <div class="control">
              <%= f.text_field :name, class: "input" %>
            </div>
          </div>
          <div class="content is-small">
            created at <%= @resource.created_at %>
          </div>
          <div class="field">
            <div class="control">
              <%= f.submit "update", class: "button is-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
