<head>
  <title>FocusField</title>
  <%= render partial: "layouts/head_elements" %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="section">
    <div class="container">
      <div class="media">
        <%= form_with model: Card.new, path: cards_path do |f| %>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <%= f.label :name, class: "label" %>
            </div>
            <div class="field-body">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <%= f.text_field :name, class: "input" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= f.submit "create", class: "button is-link" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @resources.each do |resource| %>
        <div class="media">
          <div class="media-left">
            <% if resource.finished? %>
              <%= image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=", class: "image is-48x48" %>
            <% else %>
              <%= image_tag card_card_images_path(resource.id_hex, format: :png), class: "image is-48x48" %>
            <% end %>
          </div>
          <div class="media-content">
            <div class="content is-small">
              <p>
                <%= card_status_tag resource %>
                <%= card_session_elapsed_time resource.ongoing_session if resource.has_ongoing_session? %>
                created at <%= resource.created_at %>
              </p>
            </div>
            <div class="content">
              <%= tag.p resource.name, style: resource.finished? ? "text-decoration: line-through;" : "" %>
            </div>
            <div class="buttons">
              <%= link_to "edit", edit_card_path(resource.id_hex), class: "button is-small" %>
              <%= button_to "start", card_card_sessions_path(resource.id_hex), method: :post, class: "button is-small" %>
              <%= button_to "end", card_card_sessions_path(resource.id_hex), method: :delete, class: "button is-small" %>
              <%= button_to "finish", card_card_finishes_path(resource.id_hex), method: :post, class: "button is-small"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
