<head>
  <title>FocusField</title>
  <%= render partial: "layouts/head_elements" %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="section">
    <div class="container">
      <div class="box">
        <%= form_with model: @resource, path: cards_path do |f| %>
          <div class="field">
            <%= f.label :name %>
            <div class="control">
              <%= f.text_field :name, class: "input" %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.submit "create", class: "button is-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
